<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="style.css">
    <title>Contacts</title>
</head>

<body>
    <h1>Contacts</h1>
    <div id="container">
        <div id="app">
            <div v-for="contact in contacts">
                <div class="card">
                    <div v-if="contact.photo!=''">
                        <img class="profile-pic" :src="`${contact.photo}`" alt="Avatar">
                    </div>
                    <div v-else="contact.photo==''">
                        <img class="profile-pic"
                            src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png"
                            alt="Avatar">
                    </div>
                    <div class="container">
                        <h4>Name: <b>{{contact.Name}}</b></h4>
                        <p v-if="contact.email!=''">Email: {{contact.email}}</p>
                    </div>
                    <a :href="`tel:${contact.contactnum}`"><img class="call-img"
                            src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/phone-512.png"></a>
                    <button v-on:click="removeEntry(contact)" type="button" class="btn-danger">Remove</button>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <p><strong>Name</strong> <input type="text" v-model="Name" placeholder="Enter Full Name" required />
                    </p>
                    <p>Email <input type="text" v-model="email" placeholder="Enter Email" /></p>
                    <p><strong>Phone</strong> <input type="tel" v-model="contactnum" placeholder="Enter Phone Number" />
                    </p>
                    <p>Photo <input type="text" v-model="photo" placeholder="Enter the link of photo" /></p>
                    <button v-on:click="addEntry" type="button" class="btn-ac">Add</button>
                </div>
            </div>
        </div>
        <script src="vue.js"></script>
</body>

</html>